[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
flake8 = "*"
flake8-bugbear = "*"
pipdeptree = "*"

[requires]
python_version = "3.12"

[packages]
loguru = "*"
bs4 = "*"
requests = "*"
selenium = "*"
html5lib = "*"
