[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
flake8 = "*"
flake8-bugbear = "*"
pipdeptree = "*"

[requires]
python_version = "3.12"

[packages]
loguru = "==0.7.2"
requests = "==2.32.3"
selenium = "==4.24.0"
html5lib = "==1.1"
beautifulsoup4 = "==4.12.3"
